.body {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 100vh;
  padding: 10px;
}

.container__circles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.3;
}

.red__circle {
  background-color: red;
}
.red__circle:hover {
  opacity: 0.5;
}

.yellow__circle {
  background-color: orange;
}

.yellow__circle:hover {
  opacity: 0.5;
}

.green__circle {
  background-color: green;
}

.green__circle:hover {
  opacity: 0.5;
}

.blue__circle {
  background-color: blueviolet;
}

.blue__circle:hover {
  opacity: 0.5;
}

.container__button {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 40px;
  outline: none;
  border: none;
  height: 60px;
  width: 110px;
  background-color: rgb(75, 204, 114);
  color: white;
  font-size: 18px;
}

.button:hover {
  background-color: rgb(29, 207, 29);
}

.button:active {
  transform: translateY(4px);
}

.js-highlighted-circle {
  opacity: 1;
}
