.body {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  padding: 10px;
}

.container__balls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.3;
}

.red__ball {
  background-color: red;
}

.yellow__ball {
  background-color: orange;
}
.green__ball {
  background-color: green;
}

.blue__ball {
  background-color: blueviolet;
}

.container__button {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 40%;
  border: none;
  height: 60px;
  width: 100px;
  background-color: rgb(75, 204, 114);
  color: white;
  font-size: 18px;
}
